body {
  background-image: url("/public/img/mainBg.jpg");
  color: white;
  font-family: sans-serif;
}

.mainTitle  {
  font-size: 25pt;
  margin: 1%;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
}

.title  {
  display: flex;
  justify-content: center;
  font-size: 16pt;
  margin-bottom: 5px;
}

.items  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.tooltipInfo  {
  font-size: 12pt;
}
label > input {
  visibility: hidden;
  position: absolute;
}
label {
  cursor: pointer;
}
.heroes > input:checked + img{
  outline: 16px groove greenyellow;
}
.left, .center, .right  {
  margin: 3px;
}
.left {
  width: 17%;
  display: flex;
  flex-direction: column;
}
.cList  {
  zoom: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.rList  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.center {
  width: 51%;
  display: flex;
  flex-direction: column;
}
.right  {
  width: 30%;
  zoom: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.allImgs:hover  {
  outline: 5px groove greenyellow;
}
.runeLabel > input + img{
  outline: 2px solid red;
  border-radius: 25%;
  margin: 15px 10px 0px 0px;
  padding: 1px;
}
.runeLabel > input:checked + img{
  outline: 2px solid lime;
  border-radius: 35%;
}
.buffDiv  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 5px;
  zoom: 45%;
}
.stack  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14pt;
}
.iconsLabel > input + span  {
  outline-offset: 5px;
  border-radius: 10px;
  outline: 2px solid red;
  margin: 15px;
}
.iconsLabel > input:checked + span  {
  outline-offset: 5px;
  border-radius: 10px;
  outline: 2px solid greenyellow;
}